body {
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 400px; /* Ukuran max seperti iPhone 12 */
  width: 100%;
  margin: 0 auto; /* Tengah di layar */
  background-color: white;
  border: 1px solid #e5e7eb; /* Supaya ada batasan kayak frame handphone */
}
  
  .header {
    background-color: #86efac;
    padding: 1rem;
    position: relative;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .notification-text {
    font-size: 0.75rem;
  }
  
  .status-icons {
    font-size: 0.75rem;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #bbf7d0;
    padding: 0.5rem;
  }
  
  .tab-button {
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    background-color: white;
    color: #15803d;
    font-weight: bold;
  }
  
  .tab-button.active {
    background-color: #15803d;
    color: white;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
  }
  
  .scheduled-content {
    width: 100%;
    max-width: 24rem;
  }
  
  .scheduled-card {
    display: flex;
    align-items: center;
    background-color: #FFFBE6;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .calendar-icon, .checkmark {
    margin-right: 1rem;
  }
  
  .scheduled-text {
    color: #4b5563;
    font-weight: 600;
  }
  
  .scheduled-text h5{
    color: #4b5563;
    font-weight: 300;
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding: 0.5rem;
  }
  
  .nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #15803d;
  }
  
  .nav-text {
    font-size: 0.75rem;
  }
  